@model string
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html ng-app>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <title>Castle {{2 *150}}</title>
</head>
<body>
    <div> What is this? Absolutely @ViewData["hope"] !
    </div>
</body>
</html>
