
<!DOCTYPE html>

<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"> </script>
    <title>Index</title>
</head>
<body ng-app>
    <div> 
        Hello {{1+1}} the world
    </div>
</body>
</html>
